<div class="contenedor">
	<div class="nombre down1366">
		<h2 class="candado"><i class="fas fa-lock"></i></h2>
		<h2 id="descr-cuenta">
			<div id="descr-img">
				<img src="../../../assets/google Icon.png" alt="">
			</div>
			<p>Cuenta de {{tipo}}</p>
		</h2>
		<button class="botonToggle" (click)="toggleCuenta()"></button>
	</div>
	<div class=" contenido down1366" [hidden]="escondido">
		<div class="fila">
			<h2>Usuario o Correo:</h2>
			<h2 class="usuario encript-data">{{usuario}}</h2>
		</div>
		<div class="fila">
			<h2>Contraseña o PIN:</h2>
			<h2 class="contrasenia encript-data">{{contrasenia}}</h2>
		</div>
		<div class="fila" id="options-buttons">
			<button id="eliminar" (click)="eliminar()">
				<img src="../../../assets/Borrar-Icon.png" alt="">

			</button>
			<button id="editar" (click)="editar()">
				<img src="../../../assets/Editar-Icon.png" alt="">
			</button>
			<button id="desencriptar" (click)="procesarPin()">
				<img src="../../../assets/Desencriptar-boton.png" alt="">
			</button>
		</div>

	</div>
	<div class="container-showup1366 .laptop-container">
		<div class="tipo-cuenta-img">
			<img src="../../../assets/google Icon.png" alt="">

		</div>
		<div class="descripcion-cuenta infocuenta">
			Cuenta de {{tipo}}
		</div>
		<div class="usuario-correo infocuenta">
			{{usuario}}
		</div>
		<div class="contrasenia-PIN infocuenta">
			{{contrasenia}}
		</div>
		<div class="estado infocuenta">
			<p class="candado"><i class="fas fa-lock"></i>Protegido</p>
		</div>
		<div class="accion infocuenta">
			<button (click)="eliminar()" >
				<img src="../../../assets/Borrar-Icon.png" alt="">
			</button>
			<button (click) ="editar()">
				<img src="../../../assets/Editar-Icon.png" alt="">
			</button>
			<button (click)="procesarPin()">
				<img src="../../../assets/EncripData.png" alt="">
			</button>
		</div>

	</div>
</div>
