<div class="contenedor">
	<div class="nombre">
		<h2 class="candado" (click)="desencriptar()"><i class="fas fa-lock"></i></h2>
		<h2 id="descr-cuenta">
			<div id="descr-img">
				<img src="../../../assets/google Icon.png" alt="">
			</div>
			<p>Cuenta de {{cuenta.tipo}}</p>
		</h2>
		<button class="botonToggle" (click)="toggleCuenta()"></button>
	</div>
	<div class=" contenido" [hidden]="escondido">
		<div class="fila">
			<h2>Usuario o Correo:</h2>
			<h2 class="usuario encript-data">{{cuenta.usuario}}</h2>
		</div>
		<div class="fila">
			<h2>Contraseña o PIN:</h2>
			<h2 class="contrasenia encript-data">{{cuenta.contrasenia}}</h2>
		</div>
	</div>
</div>
