.contenedor {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100%;

	.titulo {
		margin-top: 50px;
		h2 {
			font-size: 1rem;
			color: #DDDDDE;
			font-family: 'Lato', sans-serif;
			
		}
	}

	.cuentas {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		width: 80%;
		overflow-y: scroll;

		app-cuenta {
			margin-bottom: 1rem;
		}
	}
}
	/*
		======== ======== ANDROID DEVICE ======== ========
	*/

	@media only screen and (min-width:360px){
		.titulo{
			margin: 50px auto 10px;
			padding: 5px 0;
			border-bottom: 1px solid #DDDDDE;
			width: 80%;
			text-align: left;
		}



	}