.contenedor {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100%;

	.titulo {
		h2 {
			font-size: 1rem;
			color: #DDDDDE;
			font-family: 'Lato', sans-serif;

		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cuentas {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		width: 80%;
		overflow-y: scroll;

		app-cuenta {
			margin-bottom: 1rem;
		}
	}
}

/*
		======== ======== ANDROID DEVICE ======== ========
	*/

@media only screen and (min-width:320px) {
	.titulo {
		margin: 10px auto 10px;
		padding: 5px 0;
		border-bottom: 1px solid #DDDDDE;
		width: 80%;
		text-align: left;
	}

	.contenedor {
		.header {
			width: 100%;
			padding: 25px 15px;

			#header-text {
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
				color: #FCF759;
				font-size: 17px;

			}

			#avatar {
				border-radius: 50%;
				width: 40px;
				height: 40px;
			}

			#add-button {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #FFFB71;
				color: #343434;
				border: none;
				font-size: 24px;
				font-family: 'Montserrat', sans-serif;
				text-align: center;
				line-height: 28px;

			}
		}
	}


}



//		======== ======== IPAD DEVICE ======== ========


@media only screen and (min-width:768px) {
	.contenedor {
		.header {
			padding: 50px;

			#header-text {
				font-size: 32px;
			}
		}

		.titulo {
			text-align: center;
			margin: 50px auto 30px;

			h2 {
				font-size: 32px;
			}
		}
	}

}
