<div class="contenedor">
	<div class="header">
		<h1 id="header-text">p4ssw0rd</h1>
		<img id="avatar" src="../../../assets/ui-face.jpeg" alt="">
		<button id="add-button" routerLink="../agregar">+</button>
		<button id="add-button-2" routerLink="../agregar">Añadir Datos</button>
	</div>
	<div class="titulo">
		<h2 class="down1366">Mis Cuentas</h2>
		<h2 class="itemUp1366 header-table">Descripcion</h2>
		<h2 class="itemUp1366 header-table">Usuario / correo</h2>
		<h2 class="itemUp1366 header-table">Contraseña / PIN</h2>
		<h2 class="itemUp1366 header-table">Estado</h2>
		<h2 class="itemUp1366 header-table">Acción</h2>
	</div>
	
	<div class="cuentas">
		<!-- <app-cuenta *ngFor="let cuenta of cuentas; let i = index " 
		[cuenta]="cuenta" [id]="i"></app-cuenta> -->
		<app-cuenta *ngFor="let cuenta of cuentas ; let i = index "
		 [tipo]="cuenta.tipo" [usuario]="cuenta.usuario" [contrasenia]="cuenta.contrasenia" [id]="cuenta.id"></app-cuenta>
	</div>
	<app-pin *ngIf="showPinModal"></app-pin>
</div>
