// fondo: 4B4F60
// letras: 5DF1B1
// fondoClaro: 5F647A
.contenedor {
	background-color: #4B4F60;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;

	h1 {
		color: #5DF1B1;
		font-size: 2.5rem;
		margin-bottom: 4rem;
		font-family: 'Montserrat', sans-serif;
	}
	.instrucciones{
		position: absolute;
		top: 65%;
		
		font-family: 'Open Sans', sans-serif;
		& > div{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			p{
				margin: 0 20px; 
				
			
			}
		}
		h2{
			color: #fff;
			text-align: center;
			
		}
		.encriptar{
			color: #FCF759;
		}
		.editar{
			color: #64FFF5;
		}
		.eliminar{
			color:#8993BE;
		}

		
	}

}


//		======== ======== ANDROID DEVICE ======== ========


@media only screen and (min-width:320px) {
	#btn-login {
		width: 150px;
		padding: 10px 20px;
		background: rgba(95, 100, 122,.25);
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 3px;
		color: #eeeeee;
	}

	#google-icon {
		max-width: 18%;
	}

	.instrucciones{
		margin-top: 20px;
		img{
			max-width: 20px;
		}
		& > div{
			margin: 20px 0;
			p{
				font-size: 13px;
			}
		}
	}

}


//		======== ======== IPAD DEVICE ======== ========


@media only screen and (min-width:768px) {

	

	#btn-login {
		width: 250px;
		padding: 10px 20px;
		background: rgba(95, 100, 122,.25);
		border: none;
		border-radius: 3px;
		color: #eeeeee;
		font-size: 18px;
		justify-content: center;
	}

	#google-icon {
		max-width: 30px;
		margin-right:  20px;
	}
	.contenedor{
		h1{
			font-size: 64px;
		}
	}
	.instrucciones{
		margin-top: 20px;
		img{
			max-width: 25px;
		}
		& > div{
			margin: 25px 0;
			p{
				font-size: 18px;
			}
		}
	}
}
