<div class="contenedor">

	<h1>P4sswOrds</h1>

	<button id="btn-login" (click)="loginWithGoogle()">
		<img id="google-icon" src="../../../assets/google Icon.png" alt="">
		Iniciar Sesión
	</button>

	<div class="instrucciones">
		<div class="encriptar">
			<img src="../../../assets/EncripData.png" alt="">
			<p>Encriptar / Desencriptar</p>
		</div>
		<div class="editar">
			<img src="../../../assets/Editar-Icon.png" alt="">
			<p>Editar</p>
			
		</div>
		<div class="eliminar">
			<img src="../../../assets/Borrar-Icon.png" alt="">
			<p>Eliminar</p>
		</div>

	</div>

</div>
