<div class="contenedor">

	<form class="formulario">

		<div class="titulo">
			<h1>Nueva cuenta</h1>
		</div>

		<label class="labelTipo">Tipo de cuenta</label>
		<select class="inputTipo">
			<option>Facebook</option>
			<option>Twitter</option>
			<option>Spotify</option>
			<option>UPC</option>
		</select>
		<label class="labelDescripcion">Descripcion de la cuenta</label>
		<input class="inputDescripcion" type="text" placeholder="Descripcion">

		<label class="labelUsuario">Usuario o correo:</label>
		<input class="inputUsuario" type="text" placeholder="Usuario">

		<label class="labelContrasenia">Contraseña:</label>
		<input class="inputContrasenia" type="password" placeholder="Contraseña">

		<input class="botonAceptar" type="button" value="Aceptar">

	</form>

</div>
