<div class="contenedor">
	<form #frm="ngForm" (ngSubmit)="onSubmit(frm)">

		<h2>Editando Cuenta</h2>
		<div class="input-containers">

			<div class="tipo-cuenta-cont">
	
				<label>Tipo:</label>
				<select name="tipo" ngModel>
					<option>Facebook</option>
					<option>Twitter</option>
					<option>Spotify</option>
					<option>Youtube</option>
					<option>UPC</option>
					<option>Otros</option>
				</select>
			</div>
	
			<div class="usuario-cont">
	
				<label>Usuario:</label>
				<input name="usuario" type="text" ngModel>
			</div>
	
			<div class="contrasenia-cont">
				<label>Contraseña: </label>
				<input name="contrasenia" type="text" ngModel>
	
			</div>
		</div>

		<button>Editar</button>
	</form>
</div>
